.main {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.navbartext {
    text-align: center;
    padding: 0.8em 1.8em;
    margin: 10px 5px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .4s;
    border-radius: 20px;
    z-index: 1;
    font-family: inherit;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbartext::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    transition: .6s ease;
    display: block;
    z-index: -1;
}

.navbartext:hover::before {
    width: 105%;
}

.navbartext:hover {
    color: #111;
}

.navbar {
    display: flex;
    margin-left: 40px;
    justify-content: center;
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 20px 10px;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.nav-link {
    text-decoration: none;
    font-size: medium;
}

.bi {
    font-size: 20px;
}


.nav-item:nth-child(odd) {
    transform: translateY(5rem);
}

.nav-item:nth-child(even) {
    transform: translateY(-5rem);
}

.nav:hover .nav-item {
    opacity: 1;
    transform: translateY(0);
}

.bi {
    padding: 10px;
    transition: all 0.3s;
    background-color: white;
    border-radius: 50%;
    color: black;
}


#insta:hover {
    color: white;
    background-color: red;
}

#face:hover {
    color: white;
    background-color: darkblue;
}

#git:hover {
    color: white;
    background-color: green;
}

#ld:hover {
    color: white;
    background-color: darkblue;
}

#header {
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 13px 40px 0px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    color: white;
}

.sidebar{
    display: none;
}

@media screen and (max-width: 1024px) 
{
    .main {
        display: none;
    }
    .sidebar {
        cursor: pointer;
        margin: 20px;
        display: block;
    }
    .sidebarlist{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-list{
        flex-direction: column;
    }
    .nav-item:nth-child(odd) {
        transform: translateX(5rem);
    }
    .nav-item:nth-child(even) {
        transform: translateX(-5rem);
    }
    .sidebartext {
        text-align: center;
        padding: 0.8em 1.8em;
        margin: 10px 5px;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        transition: .4s;
        border-radius: 20px;
        z-index: 1;
        font-family: inherit;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    .sidebartext::before {
        content: '';
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: white;
        transition: .6s ease;
        display: block;
        z-index: -1;
    }
    
    .sidebartext:hover::before {
        width: 105%;
    }
    
    .sidebartext:hover {
        color: #111;
    }
}
