* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.App {
    background: url(/gym2.jpeg) no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 600px;
    width: 100%;
    min-height: 100%;
    height: auto;
    top: 0;
    left: 0;
}