.mainheading{
    width: 100%;
    text-align: center;
}

.text {
    font-family: 'Sigmar', cursive;
    text-transform:uppercase;
    display: inline-block;
    box-sizing: border-box;
    color: white;
    font-size: 35px;
    margin: 10px;
    letter-spacing: 1px;
    transition: all;
    text-decoration: none;
}

.text:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    
}

@media screen and (max-width: 1024px) 
{
    .mainheading{
        display: none;
    }
}